.header{
    margin-top: 1.5rem;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60rem;
    background: var(--primary-color);
    z-index: -1;
}

.header__logo{
    width: 13rem;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    font-size: 1.4rem;
}

.header__nav-item{
    text-decoration: none;
    color: #fff;
    transition: color 250ms;
}

.header__nav-item:hover{
    color: #FF8C2B;
}